<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p> How Hungry are you ?</p>
  </div>
  <div fxFlexAlign="center">
    <select #calorieSelect (change)="filterCalorie(calorieSelect.value)">
      <option value="0">--All--</option>
      <option *ngFor="let calorie of calories" value={{calorie}}>
        {{calorie}}
      </option>
    </select>
  </div>
  <!--<mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Tab1">-->  
  <div>
    <ag-grid-angular style="width: 100%; height: 600px"
                     class="ag-theme-alpine"
                     [rowData]="foods"
                     [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
  <!--</mat-tab>
    <mat-tab label="Tab2">
      <p>content</p>
    </mat-tab>
    <mat-tab label="Tab3">
      <p>content</p>
    </mat-tab>
  </mat-tab-group>-->
</section>
