<h1>Whats The Food</h1>
<table>
  <tr>
    <td><label>How hungry are you ?</label> </td>
    <td><label>Calories: </label> </td>
    <td>
      <select #calorieSelect (change)="filterCalorie(calorieSelect.value)">
        <option value="0">--All--</option>
        <option *ngFor="let calorie of calories" value={{calorie}}>
          {{calorie}}
        </option>
      </select>
    </td>
  </tr>
</table>


<ag-grid-angular style="width: 850px; height: 600px;"
                 class="ag-theme-alpine"
                 [rowData]="foods"
                 [columnDefs]="columnDefs">
</ag-grid-angular>


