<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a routerLink="/home"><img src="/assets/images/site_logo.gif" width="120px" height="120px" /></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="30px" class="navigation-items">
        <li>
          <a routerLink="/signin">Sign In</a>
        </li>
        <li>
          <a routerLink="/signup">Sign Up</a>
        </li>
        <li>
          <a routerLink="/signout">Sign out</a>
        </li>
      </ul>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
